/***************MENY/***************/

header {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu a {
  flex: 1;
  text-align: center;
}

.menu img {
  flex: 0;
}

.menu a:first-child {
  text-align: left;
}

.menu a:last-child {
  text-align: right;
}

/***************MENY END***************/

/***************FOOTER***************/

footer {
  display: flex;
  justify-content: center;
}

/***************FOOTER END***************/

.center {
  display: flex;
  justify-content: center;
}

.aligncenter {
  text-align: center;
}

@media (min-width: 750px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

div.grid_1-1 {
  padding: 0;
  margin: 30px;
  padding-bottom: 40px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  min-height: calc(100vh - 50px); /* Justera 50px till höjden på din footer */
}
